# vi: ft=python

# Example configuration file for python-imports.vim
#
# Brief syntax description:
#    from dotted.name import name[, name ...]
#    import name[, name ...]
#
# To reload it after making a change do:
#    :call LoadPythonImports()
#

from abc import ABC, abstractmethod
from collections import ChainMap, Counter, OrderedDict, defaultdict, deque, namedtuple
from collections.abc import (
    AsyncGenerator,
    AsyncIterable,
    AsyncIterator,
    Awaitable,
    ByteString,
    Callable,
    Collection,
    Container,
    Coroutine,
    Generator,
    ItemsView,
    Iterable,
    Iterator,
    KeysView,
    Mapping,
    MappingView,
    MutableMapping,
    MutableSequence,
    MutableSet,
    Reversible,
    Sequence,
    ValuesView,
)
from contextlib import (
    AbstractAsyncContextManager,
    AbstractContextManager,
    contextmanager,
)

# stdlib
from copy import copy, deepcopy
from dataclasses import dataclass, field, fields, is_dataclass
from datetime import datetime, timedelta
from functools import cache, cached_property, lru_cache, partial, total_ordering, wraps
from itertools import takewhile
from operator import attrgetter, itemgetter
from pathlib import Path
from typing import (
    Any,
    Generic,
    Literal,
    NewType,
    Protocol,
    TypeVar,
)

import pytest
import tree_sitter
import typer
from typing_extensions import TypeGuard
